﻿@model IEnumerable<Instrutor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeInstrutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeInstrutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstrutorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstrutorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstrutorID })
        </td>
    </tr>
}

</table>
